<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="11920philbi.de.music" Publisher="CN=07933EAF-828A-4960-A057-62097006B387" Version="2.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="6929ab48-4c01-4eef-91b2-0c7edbe2718a" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>music³</DisplayName>
    <PublisherDisplayName>philbi.de</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MusicConcept.App">
      <m3:VisualElements DisplayName="music³" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="A next generation music player for windows phone." ForegroundText="light" BackgroundColor="transparent" ToastCapable="false">
        <m3:DefaultTile Square71x71Logo="Assets\Square71x71Logo.png" Wide310x150Logo="Assets\WideLogo.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
        <m3:ApplicationView MinWidth="width320" />
        <!--Used in XAML Designer. DO NOT REMOVE-->
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="MusicConcept.Player.AudioPlayer">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="musicLibrary" />
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>